  form {
      text-align: center;      
  }
  
  .create-input {
  display: block;
  border: 1px solid #ab2a19;
  border-radius: 3px;
  padding: 12px;
  min-width: 500px;
  width: auto;
  font-size: 30px;
  margin: 0 auto 30px;
  }


  .create-button {
      display: inline-block;
      background-color: #d8d8d8;
          margin: 10px 2em;
          font-weight: 700;
          height: auto;
          font-size: 30px;
          border: none;
          width: 526px;
          border-radius: 3px;
          padding: 10px 0;
          cursor: pointer;
          outline: none;
  }

  #save, #add {
          background-color: #40F99B;
  }

  label {
          color: black;
           font-weight: 700;
              margin-top: 0;
              margin-left: 10px;
              margin-bottom: 3px;
              position: relative;
              left: -200px;
              font-size: 30px;
              
  }

